#TÍTULO {
    font-size: 2.5rem;
    font-style:normal;
    font-weight:600;
    letter-spacing: 1.2rem
    }

    #TÍTULO:hover {
    font-style: italic;
    color: blue
    }
    
    #Autor {
    font-size: 1.7rem;
    font-style: oblique;
    font-weight: 600;
    word-spacing:1.2rem;
    }
    
    #prologo {
    font-size:1.2rem;
    font-style:normal;
    font-weight: 500;
    text-transform: uppercase;
    }

    #prologo:hover {
    font-weight: 600;
    color: red;
    }
    
    p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
    text-align: justify;
    }