h1 {
    font-size: 2.5rem;
    }
    
    h2 {
    font-size: 2rem;
    }
    
    #model {
    font-size: 1.5rem;
    }
    
    #sku {
    font-size: 1.5rem;
    }
    
    #precio {
    font-size: 1.5rem;
    }